<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Pablo&Fadro sp. b.r.o.</title>
    <link href="../css/dom_form.css" type="text/css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="../js/dom_form.js" type="text/javascript">
    </script>

    <meta name="description" content="Pablo&Fadro js project">
    <meta name="keywords" content="Web developments, Pablo&Fadro, js skills ">
</head>
<body onclick="findForfiter(event)">

<div class="background">

</div>

<div class="row">
    <div class="col">
        <div id="alt-button" onclick="lessonClickAlt(event)" class="click-lesson">Kliknij tutaj z alt</div>
        <div id="alt-result" class="click-lesson">No kliknij wyżej</div>
    </div>

    <div class="col">
        <div id="ctrl-button" onclick="lessonClickCtrl(event)" class="click-lesson">Kliknij tutaj z ctrl</div>
        <div id="ctrl-result" class="click-lesson">No kliknij wyżej</div>
    </div>

    <div class="col">
        <div id="shift-button" onclick="lessonClickShift(event)" class="click-lesson">Kliknij tutaj z shift</div>
        <div id="shift-result" class="click-lesson">No kliknij wyżej</div>
    </div>

    <div class="col">
        <div id="F-button" onmousedown="lessonClickFDown()" onmouseup="lessonClickFUp()" class="click-lesson">A to kliknij długo</div>
        <div id="F-result" class="click-lesson">No kliknij wyżej</div>
    </div>

    <div class="col">
        <div id="forfitera-button" class="click-lesson">A teraz kliknij forfitera</div>
        <div id="forfiter-result" class="click-lesson">Znajdź forfitera</div>
    </div>

</div>

<form onsubmit="submitFeedback()" onreset="resetFeedback()">

<div class="row">
    <div class="col">
        <input type="txt" onfocus="focusFeedback()" onblur="blurFeedback()" id="feedback" class="feedback">
    </div>
</div>
<div class="row">
    <div class="col">
        <input class="button" type="submit">
    	<input class="button" type="reset" >
  
    </div>
        
</div>

</form>

<img id="forfiter-jpg" onmousemove="move_forfiter()" onmouseover="hotForfiter(event)" src="../img/forfiter.jpg" alt="wonsz rzeczny">

</body>
</html>
