<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pablo&Fadro sp. b.r.o.</title>
    <link href="../css/lab6.css" type="text/css" rel="stylesheet">
    <script src="../js/scripts.js" type="text/javascript">
    </script>

    <meta name="description" content="Pablo&Fadro js project">
    <meta name="keywords" content="Web developments, Pablo&Fadro, js skills ">
  </head>
  <body>
  <div class="wonsz-background">

  </div><br>
  <div class="btn-group">
    <button id="question" onclick="start()">Pobierz zagadkę</button><br><br>
    <button id="Answer" onclick="answer()">Podaj odpowiedź</button><br><br>
    <button id="wonszButton" type="button" onclick="parseAnswer()">Prześlij odpowiedź!</button><br>
    <button id="noclick" type="button" onclick="nieKlikaj()">Nie klikaj!</button><br>
</div>
<img id="wonsz-jpg" src="../img/rzeczny.jpg" alt="wonsz rzeczny">
<label for="angry-wonsz"><b>Jak niebezpieczny jest wonsz:</b></label>
<meter id="angry-wonsz" value="1" min="0" max="10"></meter><br>
  </body>
</html>
