<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Projekty</title>

    <link href="../css/projects.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Turret+Road:wght@200;500&family=Ubuntu:wght@500&display=swap" rel="stylesheet" type="text/css">  

    <meta name="description" content="Pablo&Fadro projects">
    <meta name="keywords" content="Web developments, projects, Pablo&Fadro, web aplications">

</head>

<body>
  <header>

      <div id="header-top">
          Pablo&Fadro sp. b.r.o.
      </div>
      <nav>
          <a href="index.html">Home</a>
          <a href="projects.html">Contact</a>

      </nav>

  </header>
<br><br><br><br><br>

  <h1>Witamy w zakładce naszych projektów!</h1>

  <div class="round">
    Opowiemy tutaj pokrótce o naszych projektach, abyś jak najlepiej poznał nasze umiejętności!
  </div>
<br>
  <div class="round2">
    Opowiemy tutaj pokrótce o naszych projektach, abyś jak najlepiej poznał nasze umiejętności!
  </div>

</body>
</html>
